name: Build API

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  create_installer:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-python-core
      - name: Prepare release directory
        run: |
          PACKAGE_NAME="rpi_ai"
          PACKAGE_VERSION=$(uv run python -c "import tomllib; print(tomllib.load(open('pyproject.toml', 'rb'))['project']['version'])")

          mv release ${PACKAGE_NAME}_${PACKAGE_VERSION}

          tree ${PACKAGE_NAME}_${PACKAGE_VERSION} --dirsfirst -F
      - name: Create release tarball
        run: |
          PACKAGE_NAME="rpi_ai"
          PACKAGE_VERSION=$(uv run python -c "import tomllib; print(tomllib.load(open('pyproject.toml', 'rb'))['project']['version'])")
          tar -czf ${PACKAGE_NAME}_${PACKAGE_VERSION}.tar.gz ${PACKAGE_NAME}_${PACKAGE_VERSION}
      - name: Upload release tarball
        uses: actions/upload-artifact@v4
        with:
          name: rpi_ai_release
          path: rpi_ai_*.tar.gz
  check_installer:
    runs-on: ubuntu-latest
    needs: create_installer
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-uv
      - name: Download artifact from create_installer job
        uses: actions/download-artifact@v4
        with:
          name: rpi_ai_release
      - name: Extract release tarball
        run: |
          TAR_FILE=$(find . -name 'rpi_ai_*.tar.gz')
          tar -xzf $TAR_FILE
      - name: Verify pre-installation directory contents
        run: |
          TAR_FILE=$(find . -name 'rpi_ai_*.tar.gz')
          DIR_NAME=$(basename "$TAR_FILE" .tar.gz)
          PACKAGE_NAME="rpi_ai"

          cd "$DIR_NAME"
          echo "$DIR_NAME/"
          tree --dirsfirst -F

          scripts=("install_rpi_ai.sh")

          for script in "${scripts[@]}"; do
            if [ ! -f "$script" ]; then
              echo "Script $script not found"
              exit 1
            fi
            if [ ! -x "$script" ]; then
              echo "Script $script is not executable"
              exit 1
            fi
          done
      - name: Run installer script
        env:
          GEMINI_API_KEY: dummy
        run: |
          TAR_FILE=$(find . -name 'rpi_ai_*.tar.gz')
          DIR_NAME=$(basename "$TAR_FILE" .tar.gz)

          cd "$DIR_NAME"
          export GEMINI_API_KEY="test"
          ./install_rpi_ai.sh

      - name: Verify post-installation directory contents
        run: |
          TAR_FILE=$(find . -name 'rpi_ai_*.tar.gz')
          DIR_NAME=$(basename "$TAR_FILE" .tar.gz)

          cd "$DIR_NAME"
          echo "$DIR_NAME/"
          tree --dirsfirst -F

          if [ -f "install_rpi_ai.sh" ]; then
            echo "Installer script not removed"
            exit 1
          fi

          folders=(".venv" "logs" "service" "${HOME}/.config/rpi_ai")
          files=("rpi-ai" "LICENSE" "README.md" "service/rpi-ai.service" "${HOME}/.config/rpi_ai/config.json")
          scripts=("uninstall_rpi_ai.sh" "service/start_service.sh" "service/stop_service.sh")

          for folder in "${folders[@]}"; do
            if [ ! -d "$folder" ]; then
              echo "Folder $folder not found"
              exit 1
            fi
          done

          for file in "${files[@]}"; do
            if [ ! -f "$file" ]; then
              echo "File $file not found"
              exit 1
            fi
          done

          for script in "${scripts[@]}"; do
            if [ ! -f "$script" ]; then
              echo "Script $script not found"
              exit 1
            fi
            if [ ! -x "$script" ]; then
              echo "Script $script is not executable"
              exit 1
            fi
          done
