name: Build API

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  PACKAGE_NAME: rpi_ai

jobs:
  build_wheel:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-python-core
      - name: Create wheel
        run: |
          uv build
      - name: Upload wheel
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PACKAGE_NAME }}_wheel
          path: dist/${{ env.PACKAGE_NAME }}-*-py3-none-any.whl
  create_installer:
    runs-on: ubuntu-latest
    needs: [build_wheel]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-python-core
      - name: Download backend artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.PACKAGE_NAME }}_wheel
      - name: Prepare release directory
        run: |
          WHEEL_FILE=$(find . -name "${{ env.PACKAGE_NAME }}-*-py3-none-any.whl")
          PACKAGE_VERSION=$(echo "$WHEEL_FILE" | sed -n "s/.*${{ env.PACKAGE_NAME }}-\(.*\)-py3-none-any\.whl/\1/p")

          mv "$WHEEL_FILE" release/
          chmod +x release/install_rpi_ai.sh
          mv release ${{ env.PACKAGE_NAME }}_${PACKAGE_VERSION}

          tree ${{ env.PACKAGE_NAME }}_${PACKAGE_VERSION} --dirsfirst -F
      - name: Create release tarball
        run: |
          WHEEL_FILE=$(find . -name "${{ env.PACKAGE_NAME }}-*-py3-none-any.whl")
          PACKAGE_VERSION=$(echo "$WHEEL_FILE" | sed -n "s/.*${{ env.PACKAGE_NAME }}-\(.*\)-py3-none-any\.whl/\1/p")
          tar -czf ${{ env.PACKAGE_NAME }}_${PACKAGE_VERSION}.tar.gz ${{ env.PACKAGE_NAME }}_${PACKAGE_VERSION}
      - name: Upload release tarball
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PACKAGE_NAME }}_release
          path: ${{ env.PACKAGE_NAME }}_*.tar.gz
  check_installer:
    runs-on: ubuntu-latest
    needs: create_installer
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-python-core
      - name: Download artifact from create_installer job
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.PACKAGE_NAME }}_release
      - name: Extract release tarball
        run: |
          TAR_FILE=$(find . -name '${{ env.PACKAGE_NAME }}_*.tar.gz')
          tar -xzf $TAR_FILE
      - name: Verify pre-installation directory contents
        run: |
          TAR_FILE=$(find . -name '${{ env.PACKAGE_NAME }}_*.tar.gz')
          DIR_NAME=$(basename "$TAR_FILE" .tar.gz)

          cd "$DIR_NAME"
          echo "$DIR_NAME/"
          tree --dirsfirst -F

          WHEEL_FILE=$(find . -name "${{ env.PACKAGE_NAME }}-*-py3-none-any.whl")
          files=("${WHEEL_FILE}")
          scripts=("install_rpi_ai.sh")

          for file in "${files[@]}"; do
            if [ ! -f "$file" ]; then
              echo "File $file not found"
              exit 1
            fi
          done

          for script in "${scripts[@]}"; do
            if [ ! -f "$script" ]; then
              echo "Script $script not found"
              exit 1
            fi
            if [ ! -x "$script" ]; then
              echo "Script $script is not executable"
              exit 1
            fi
          done
      - name: Run installer script
        env:
          GEMINI_API_KEY: dummy
        run: |
          TAR_FILE=$(find . -name '${{ env.PACKAGE_NAME }}_*.tar.gz')
          DIR_NAME=$(basename "$TAR_FILE" .tar.gz)

          cd "$DIR_NAME"
          export GEMINI_API_KEY="test"
          ./install_rpi_ai.sh

      - name: Verify post-installation directory contents
        run: |
          TAR_FILE=$(find . -name '${{ env.PACKAGE_NAME }}_*.tar.gz')
          DIR_NAME=$(basename "$TAR_FILE" .tar.gz)

          cd "$DIR_NAME"
          echo "$DIR_NAME/"
          tree --dirsfirst -F

          if [ -f "install_rpi_ai.sh" ]; then
            echo "Installer script not removed"
            exit 1
          fi

          if [ -f "$(find . -name '${{ env.PACKAGE_NAME }}-*-py3-none-any.whl')" ]; then
            echo "Wheel file not removed"
            exit 1
          fi

          folders=(".venv" "logs" "service" "${HOME}/.config/${{ env.PACKAGE_NAME }}")
          files=(".here" "LICENSE" "README.md" "service/rpi-ai.service" "${HOME}/.config/${{ env.PACKAGE_NAME }}/config.json")
          scripts=("rpi-ai" "uninstall_${{ env.PACKAGE_NAME }}.sh" "service/start_service.sh" "service/stop_service.sh")

          for folder in "${folders[@]}"; do
            if [ ! -d "$folder" ]; then
              echo "Folder $folder not found"
              exit 1
            fi
          done

          for file in "${files[@]}"; do
            if [ ! -f "$file" ]; then
              echo "File $file not found"
              exit 1
            fi
          done

          for script in "${scripts[@]}"; do
            if [ ! -f "$script" ]; then
              echo "Script $script not found"
              exit 1
            fi
            if [ ! -x "$script" ]; then
              echo "Script $script is not executable"
              exit 1
            fi
          done
