name: Build API

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build_wheel:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-python-core
      - name: Create wheel
        run: |
          uv build
      - name: Upload wheel
        uses: actions/upload-artifact@v4
        with:
          name: rpi_ai_wheel
          path: dist/rpi_ai-*-py3-none-any.whl
  create_installer:
    runs-on: ubuntu-latest
    needs: [build_wheel]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-python-core
      - name: Download backend artifact
        uses: actions/download-artifact@v4
        with:
          name: rpi_ai_wheel
      - name: Prepare release directory
        run: |
          PACKAGE_NAME="rpi_ai"
          WHEEL_FILE=$(find . -name "${PACKAGE_NAME}-*-py3-none-any.whl")
          PACKAGE_VERSION=$(echo "$WHEEL_FILE" | sed -n "s/.*${PACKAGE_NAME}-\(.*\)-py3-none-any\.whl/\1/p")

          mv "$WHEEL_FILE" release/
          chmod +x release/install_rpi_ai.sh
          mv release ${PACKAGE_NAME}_${PACKAGE_VERSION}

          tree ${PACKAGE_NAME}_${PACKAGE_VERSION} --dirsfirst -F
      - name: Create release tarball
        run: |
          PACKAGE_NAME="rpi_ai"
          WHEEL_FILE=$(find . -name "${PACKAGE_NAME}-*-py3-none-any.whl")
          PACKAGE_VERSION=$(echo "$WHEEL_FILE" | sed -n "s/.*${PACKAGE_NAME}-\(.*\)-py3-none-any\.whl/\1/p")
          tar -czf ${PACKAGE_NAME}_${PACKAGE_VERSION}.tar.gz ${PACKAGE_NAME}_${PACKAGE_VERSION}
      - name: Upload release tarball
        uses: actions/upload-artifact@v4
        with:
          name: rpi_ai_release
          path: rpi_ai_*.tar.gz
  check_installer:
    runs-on: ubuntu-latest
    needs: create_installer
    steps:
      - name: Download artifact from create_installer job
        uses: actions/download-artifact@v4
        with:
          name: rpi_ai_release
      - name: Extract release tarball
        run: |
          TAR_FILE=$(find . -name 'rpi_ai_*.tar.gz')
          tar -xzf $TAR_FILE
      - name: Run installer script
        run: |
          TAR_FILE=$(find . -name 'rpi_ai_*.tar.gz')
          DIR_NAME=$(basename "$TAR_FILE" .tar.gz)
          cd "$DIR_NAME"
          ./install_rpi_ai.sh

          echo "$DIR_NAME/"
          tree --dirsfirst -F

          if [ -f "install_rpi_ai.sh" ]; then
            echo "Installer script not removed"
            exit 1
          fi

          if [ -f "$(find . -name 'rpi_ai-*-py3-none-any.whl')" ]; then
            echo "Wheel file not removed"
            exit 1
          fi

          if [ ! -d ".venv" ]; then
            echo "Virtual environment not found"
            exit 1
          fi

          if [ ! -f "rpi-ai" ]; then
            echo "API executable not found"
            exit 1
          fi

          if [ ! -f "${HOME}/.config/rpi_ai/ai_config.json" ]; then
            echo "Config directory not found"
            exit 1
          fi

          if [ ! -d "logs" ]; then
            echo "Logs directory not found"
            exit 1
          fi

          if [ ! -f "service/rpi-ai.service" ]; then
            echo "Service file not found"
            exit 1
          fi

          if [ ! -f "service/start_service.sh" ]; then
            echo "Service creation file not found"
            exit 1
          fi

          if [ ! -f "service/stop_service.sh" ]; then
            echo "Service stopping file not found"
            exit 1
          fi

          if [ ! -f "uninstall_rpi_ai.sh" ]; then
            echo "Uninstallation file not found"
            exit 1
          fi

          if [ ! -f "README.txt" ]; then
            echo "README file not found"
            exit 1
          fi
